/* header */
.index-nav-ul {
  border: 10px solid black;
}
/* main */
.index-article2{
    /* border: solid purple; */
    /* justify-content: space-around; */
    flex-direction: row;
}
.index.section2{
    border: red solid 5px;
    justify-content: center;
    
}




/* footer */