/* header */
body{
  margin:0;
  background-color:#222;
  font-family: 'Work Sanse', sans-serif;
}
header{
  background-color: rgb(169, 0, 221);
}
.index-nav-ul {
  list-style: none; 
}
.index-nav-ul li{
  display:inline-block;
  /* margin: .5rem; */
  padding: 2em;
  /* display:flex; */
  justify-content: space-evenly;
}

/* main */