/* header */
* {
  text-align: center;
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #222;
  font-family: "Work Sanse", sans-serif;
  font-weight: 400;
  color: white;
}
a:visited {
  color: rgb(149, 149, 149);
}
/* .container {
  width: 100%;
  margin: auto;
} */
header {
  background-color: rgba(156, 40, 191, 0.879);
}
header::after {
  content: "";
  display: table;
  clear: both;
}

nav {
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  margin: 0;
  /* padding:0; */
  display: flex;
}

nav li {
  /* display: inline-block; */
  margin-left: 100px;
  padding: 10px;
  /* justify-content: space-evenly; */
  /* margin: 0; */
  /* padding-top: 15px; */
  /* padding-bottom: 20px; */
  /* position: relative; */
}

nav ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
}
nav a:hover {
  color: #000;
}

nav a::before {
  content: "";
  display: block;
  height: 5px;
  width: 100%;
  background-color: #444;
  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

/* .left-p */

.article1 {
  /* display: flex; */
  padding-top: 1rem;
  /* flex-direction: column; */
  /* align-items: center; */
  /* position: relative; */
  border: 1px solid black;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}
/* ye chizi */
img {
  width: 50%;
}

.article2 {
  display: flex;
  /* background-color: #003049; */
  /* width: 90% ; */
  /* height: 200px; */
  padding-top: 1em;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  /* margin: auto; */
  /* border: 1px solid #d32c0e; */
  align-items: center;
  justify-content: center;
}

.description-a {
  color: red;
  background-color: #444;
  padding: 0.5em;
  border-radius: 0.5em;
  text-decoration: none;
}

.description-section {
  border: red solid 1px;
  background-color: khaki;
  /* justify-content: space-between; */
  margin: 20px;
  padding: 1em;
  border-radius: 0.5em;
}

#article-rules {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
}

.main-a {
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
}

/* main */
